<div id="footer">

    <hr />
        <div class="text-center center-block">
            <p class="txt-railway text-white">- Stay connected -</p>

            <a href="https://www.facebook.com/"><img style="width: 48px"  src="/assets/images/facebook.png" alt="facebook"></a>
            <a href="https://twitter.com/"><img style="width: 50px" src="/assets/images/twitter.png" alt="facebook"></a>
            <a href="https://plus.google.com/"><img style="width: 50px" src="/assets/images/gPlus.png" alt="facebook"></a>
            <a href="https://mail.google.com/"><img style="width: 48px" src="/assets/images/gmail.jpg" alt="facebook"></a>
            
            <br/>
                <a class="text-decoration-none text-white" href="#">Info&nbsp;</a>
                <a class="text-decoration-none text-white" href="#">Support&nbsp;</a>
                <a class="text-decoration-none text-white" href="#">Terms of Use&nbsp;</a>
                <a class="text-decoration-none text-white" href="#">Privacy Policy&nbsp;</a>
          </div>
    <hr />
</div>
