
<div id="sect1">
  <h2 id="head">Web Designer & Developer based in Calicut, Kerala</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mt-5">    
          <div class="col">
            <div class="flip-card mb-5">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/assets/images/webDesign.jpg" alt="webDesign" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h2>Website Design</h2> 
                    <p>Our approach to website design is to create a website that strengthens your company’s brand while ensuring ease of use and simplicity for your audience</p> 
                  </div>
                </div>
              </div>
          </div>
      
          <div class="col">
            <div class="flip-card mb-5">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/assets/images/responsive.jpg" alt="responsive" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h2>Responsive Website Design</h2> 
                    <p>Having a responsive layout means that your website fluidly resizes for optimal viewing regardless of the screen size or device (e.g. iPhone, iPad).</p> 
                  </div>
                </div>
              </div>
          </div>

          <div class="col">
            <div class="flip-card mb-5">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/assets/images/backend.png" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h2>Back End Development</h2> 
                    <p>Our back-end development services are not just about making a server, application, and database communicate with each other. It's about building a product that works seamlessly and creating an enjoyable user experience</p> 
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>