

<div id="sect1">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col-sm-2 col-md-4"></div>
      <div class="col-8">
        <section class="card text-white bg-dark mb-5 mt-5 border-white border-rounded" style="max-width: 18rem;" id="home">
          <img class="card-img-top  img-fluid rounded-circle" src="/assets/images/profilepic.jpg" style="max-width: 12rem; align-self: center; padding-top: 5px;" alt="ProfilePic">
          <div class="card-body d-flex and flex-column">
            <h2 class="card-title text-light">Hi, I'm Dinusha</h2>
            <h4 class="card-text">Full Stack Developer And Embedded System Engineer</h4>
            <a routerLink="/contact" class="btn btn-light fw-bold"  >Hire Me</a>  
          </div>
        </section><!-- card -->
        <div class="col-2"></div>
      </div>
    </div>
</div>


